{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
<div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}


    {#<script type="text/javascript">
                    $(document).ready(function(){
                      $('.btn').on('click',function(){
                          bootbox.alert("Hello word", function(){
                             alert("User presses ok!") ;
                          });
                      });
                    });
                </script>#}    

{#<script type="text/javascript">
    function alertA(){
    alert("hello wael");
    }
</script>#}


{#<script>
    $(function(){
        $("#loginModal").submit(function(e){
            e.preventDefault();
            $form = $(this);
            $.post(document.location.url,$this.serialise(),function(data){
                $feedback = $("<div>").html(data).find(".form-feedback");
                $form.prepend($feedback);
            });
        });
    });
</script>#}



<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <br/>
        <br/>

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">Bienvenue dans Oxia-group</h1>
            </div>
            <div class="modal-body">    
                <form class="form col-md-12 center-block" action="{{ path("fos_user_security_check") }}" method="post" >
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <br/>
                    <br/>
                    <br/>

                    <div class="form-group"> 
                        <label for="inputNom" class="col-sm-2 control-label">Nom d'utilisateur</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" id="basic-addon1"></span></span>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"  autofocus="autofocus"  class="form-control input-lg" placeholder="nom d'utilisateur"/>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <!--
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Email :</label>
                                            <div>
                                                <div class="col-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-alert" id="basic-addon1"></span></span>
                                                        <input type="email"  class="form-control input-lg" id="inputEmail3" autofocus="autofocus" required="required" placeholder="email">
                                                    </div>
                                                </div>
                                            </div>  
                                        </div> !--> 
                    <br/>

                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Mot de passe :</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-star" id="basic-addon1"></span></span>
                                <input type="password" id="password" name="_password" required="required"  placeholder="mot de passe" class="form-control input-lg"/>
                            </div>
                        </div>
                    </div>


                    <br/>
                    <br/>
                    
   {# <div class="row">
        <div class="span12">
            <h2>Bootbox.Js</h2> 
            <button class="btn btn-danger" >Alert</button>
        </div>
    </div>#}

                    <br/>

                    <div>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"><label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                    </div>
                    <div class="form-group"> {#onClick="return confirm('Voulez vous se connectée');"#}
                        <button class="btn btn-primary btn-lg btn-block" type="submit" id="_submit" required="required" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">Se connecter</button>


                        <span class="pull-right"><a href="#">Register</a></span><span><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a></span>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>	
            </div>
        </div>
    </div>
</div>

 

{% endblock fos_user_content %}



